main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

form {
    position: relative;
    background-color: white;
    padding: 1.5rem;
    border-radius: 1rem;
}

.close,
button,
input[type="checkbox"],
select,
option {
    cursor: pointer;
}

.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

h1 {
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid gray;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.user-info > div {
    display: flex;
    flex-grow: 1;
    gap: 1rem;
}

div > input,
div > select {
    flex-grow: 1;
    border-radius: 0.5rem;
    background-color: white;
    border: 0.2rem solid rgb(231, 231, 231);
    padding: 0.5rem;
}

.field {
    position: relative;
    display: flex;
    flex-grow: 1;
}

.field input::placeholder {
    color: transparent;
}

.field input:focus + label,
.field input:not(:placeholder-shown) + label {
  top: 0;
  transform: translateY(-50%) scale(0.85);
  color: #f06d06;
  font-weight: 600;
}

.field label {
    position: absolute;
    left: 0.25rem;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    padding: 0 0.25rem;
    color: #888;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.2s ease;
}

table {
    width: 100%;
    background: #fff;
    border-radius: 1rem;
    border-collapse: collapse;
    overflow: auto;
    margin-top: 1rem;
}

thead tr {
}

thead th {
    margin: -1rem;
    background: rgba(192, 235, 255, 0.62);
    padding: .75rem 1.5rem;
    font-weight: 500;
    color: #4A5568;
    font-size: .875rem;
}

tbody td {
    text-align: center;
    padding: .75rem 1.5rem;
    vertical-align: middle;
    border-bottom: 1px solid #e6e6e6;
    font-size: .875rem;
    color: #2D3748;
}

thead th:first-child,
tbody td:first-child {
    text-align: start;
}

.buttons {
    display: flex;
    margin-top: 2rem;
    gap: 1rem;
    margin-left: auto;
    width: fit-content;
}

.buttons button {
    display: flex;
    border: none;
    padding: 0.5rem 0.75rem;
    gap: 0.25rem;
    border-radius: 0.5rem;
}

.buttons .submit {
    background-color: rgb(69, 69, 255);
    color: white;
}