<main>
    <form [formGroup]="form" (submit)="onSubmit()">
        <h1>Add User</h1>
        <div class="close material-icons" (click)="onCloseClick()">close</div>
        <section class="user-info">
            <div>
                <div class="field">
                    <input id="user_id" type="text" formControlName="user_id" placeholder="User ID*" required />
                    <label for="user_id">User ID* (GUID)</label>
                </div>
            </div>

            <div>
                <div class="field">
                    <input id="first_name" type="text" formControlName="first_name" placeholder="First Name*" required />
                    <label for="first_name">First Name*</label>
                </div>
                <div class="field">
                    <input id="last_name" type="text" formControlName="last_name" placeholder="Last Name*" required />
                    <label for="last_name">Last Name*</label>
                </div>
            </div>

            <div>
                <div class="field">
                    <input id="email" type="email" formControlName="email" placeholder="Email Address*" required />
                    <label for="email">Email Address*</label>
                </div>
                <div class="field">
                    <input id="phone" type="tel" formControlName="phone" placeholder="Mobile No." />
                    <label for="phone">Mobile No.</label>
                </div>
                <div class="field">
                    <select id="role" formControlName="role_id" required>
                        <option value="select">Select Role Type</option>
                        @for (role of roles(); track $index) {
                            <option [value]="role.id">{{ role.roleName }}</option>
                        }
                    </select>
                </div>
            </div>

            <div>
                <div class="field">
                    <input id="username" type="text" formControlName="username" placeholder="Username*" required />
                    <label for="username">Username*</label>
                </div>
                <div class="field">
                    <input id="password" type="password" formControlName="password" placeholder="Password*" required />
                    <label for="password">Password*</label>
                </div>
                <div class="field">
                    <input id="confirm_password" type="password" formControlName="confirm_password" placeholder="Confirm Password*"
                        required />
                    <label for="confirm_password">Confirm Password*</label>
                </div>
            </div>
        </section>
        <table>
            <thead>
                <tr>
                    <th>Module Permission</th>
                     @for (permission of permissions(); track $index) {
                        <th>{{ permission.permissionName }}</th>
                     }
                </tr>
            </thead>
            <tbody>
                @for (rp of rolePermissionsList(); track $index; let roleIdx = $index) {
                    <tr>
                        <td class="role-cell">{{ rp.roleName }}</td>
                         @for (perm of rp.permissions; track $index; let permIdx = $index) {
                            <td><input type="checkbox" (change)="updatePermission(roleIdx, permIdx)" [name]="perm.permissionName" [checked]="perm.isSelected"></td>
                         }
                    </tr>
                }
            </tbody>
        </table>
        <div class="buttons">
            <button class="submit" type="submit">Add user</button>
            <button class="cancel" type="button" (click)="onCloseClick()">Cancel</button>
        </div>
    </form>
</main>