<table class="user-table">
    <thead>
        <tr>
            <th colspan="4" class="table-title">List Users</th>
        </tr>
        <tr class="header-row">
            <th>Name</th>
            <th>Create Date</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @for (user of usersData.users; track $index) {
            <tr>
                <td class="user-info">
                    <div class="name">{{ user.firstName }} {{ user.lastName }}</div>
                    <div class="email">{{ user.email }}</div>
                </td>
                <td class="date">{{ user.dateCreated }}</td>
                <td class="role">
                    <span class="badge super-admin">{{ user.role.roleName }}</span>
                </td>
                <td class="actions">
                    <span class="material-icons edit">edit</span>
                    <span class="material-icons delete">delete</span>
                </td>
            </tr>
        }
    </tbody>
</table>